main{
  padding-inline: 8.125rem;
  padding-block: 5rem;
  border-radius: 12px;
  width: 100%;
  margin-left: 1rem;
  background-color: var(--shape-body);
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
  align-items: flex-start;
  & h1{
    font: var(--hm);
    color: var(--text-heading);
  }
}

#content{
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 2.5rem;
}

.legend{
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: .75rem;
  & legend{
    font: var(--hsm);
    color: var(--text-heading);
  }
}