#featured{
  img{
    border-radius: 4px;
  }
  }

  .card{
    position: relative;
  }

  .card::before{
      content: "";
      position: absolute;
      inset: 0;
      top: 50%;
      background: linear-gradient(180deg, transparent 0%, #020617 100%);
  }
.card figcaption{
  position: absolute;
  bottom: 0;
  padding: 24px;
  h2{
    margin-top: 8px;
  }
}


.card .noticia{
  padding: 12px;
  padding-top: 32px;
}

#mais-lido{
  padding-bottom: 24px;
  img:not(.not){
    height: 160px;
  }
}
.not{
  height: 13px;
  width: 11px;
  vertical-align: center;
}
#mais-lido header{
  padding-top: 12px;
}

#mais-lido header a{
  gap: 4px;
}

#mais-lido > div{
  margin-top: 24px;
  grid-template-columns: repeat(4,292px);
  gap: 16px;
  figure{
    position: relative;
    p{
      margin-top: 8px;
      font: var(--h2);
      color: var(--textc1);
    }
    .topico{
      position: absolute;
      top: 4px;
      left: 8px;
    }
  }
}