#featured{
  img{
    border-radius: 4px;
  }
  }

  .card{
    position: relative;
  }

  .card::before{
      content: "";
      position: absolute;
      inset: 0;
      top: 50%;
      background: linear-gradient(180deg, transparent 0%, #020617 100%);
  }
.card figcaption{
  position: absolute;
  bottom: 0;
  padding: 24px;
  h2{
    margin-top: 8px;
  }
}


.card .noticia{
  padding: 12px;
  padding-top: 32px;
}

#mais-lido{
  padding-bottom: 24px;
  margin-bottom: 80px;
  img:not(.not){
    height: 160px;
  }
}
.not{
  height: 13px;
  width: 11px;
  vertical-align: center;
}
#mais-lido header{
  padding-top: 12px;
}

#mais-lido header a{
  gap: 4px;
}

#mais-lido > div{
  margin-top: 24px;
  grid-template-columns: repeat(4,292px);
  gap: 16px;
  figure{
    position: relative;
    p{
      margin-top: 8px;
      font: var(--h2);
      color: var(--textc1);
    }
    .topico{
      position: absolute;
      top: 4px;
      left: 8px;
    }
  }
}
#seção{
  height: 856px;
  gap: 32px;
}
#destaques{
  padding-top: 12px;
  margin-bottom: 24px;
  header a{
    gap: 4px;
  }
}

#coisas{
  grid-template-rows: repeat(1,1fr);
  gap: 32px;
  h3{
    margin-top: 8px;
    font: var(--h2);
    color: var(--textc1);
  }
  img{
    min-width: 176px;
    height: 176px;
  }
}

.info{
  width: 504px;
  height: 164px;
}

#anuncio{
  position: relative;
  margin-bottom: 32px;
  a{
    position: absolute;
    top:4px;
    right: 4px;
  }
}

#topicos{
  gap: 32px;
  .topic{
    max-height: 72px;
    gap: 15px;
  }
  .topic img{
    width: 72px;
    height: 72px;
  }
  .topic span{
    margin-bottom: 8px;
  }
}