*{
  box-sizing: border-box;
}

:root{
  --brand: #EF5F4C;
  --backgorund: #FFFFFF;
  --surface: #F5F5F5;
  --skeleton: #D9D9D9;
  --shape: #ffffff8f;
  --textc1: #313131;
  --textc2: #6C6C6C;
  --font: "Poppins", sans-serif;
  --text-lg: bold 32px/125% var(--font);
  --text: 16px/150% var(--font);
  --text-md: 14px/170% var(--font);
  --text-sm: 12px/170% var(--font);
}

a{
  text-decoration: none;
  color: inherit;
}

a:hover{
  color: var(--brand);
  text-decoration: underline;
}

.container{
  padding-inline: 30px;
  max-width: 1280px;
  margin-inline: auto;
}

.surface{
  background-color: var(--surface);
  margin: 0;
  padding: 0;
}